<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @guest.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @guest.last_name %>
</p>

<p>
  <b>Invite:</b>
  <%= @guest.invite_id %>
</p>

<p>
  <b>Address:</b>
  <%= @guest.address %>
</p>


<%= link_to 'Edit', edit_guest_path(@guest) %> |
<%= link_to 'Back', guests_path %>
