%ul 
  %li
    = link_to '/hotels', :class => 'navitem' do
      = image_tag("suitcase1.png", :class => 'placeholder', :height => '32px')
      = image_tag("feet.png", :class => 'mouseover', :height => '32px')
      %br
      %span.navitemtext HOTELS
  %li
    = link_to '/schedule', :class => 'navitem' do
      = image_tag("calendar.png", :class => 'placeholder', :height => '32px')
      = image_tag("feet.png", :class => 'mouseover', :height => '32px')
      %br
      %span.navitemtext SCHEDULE

  %li 
    = link_to '/directions', :class => 'navitem' do
      = image_tag("signpost.png", :class => 'placeholder', :height => '32px')
      = image_tag("feet.png", :class => 'mouseover', :height => '32px')
      %br
      %span.navitemtext DIRECTIONS 

  %li
    = link_to '/rsvp', :class => 'navitem' do
      = image_tag("mail.png", :class => 'placeholder', :height => '32px')
      = image_tag("feet.png", :class => 'mouseover', :height => '32px')
      %br
      %span.navitemtext RSVP 
  %li
    = link_to '/registry', :class => 'navitem' do
      = image_tag("shoppingcart.png", :class => 'placeholder', :height => '32px')
      = image_tag("feet.png", :class => 'mouseover', :height => '32px')
      %br
      %span.navitemtext REGISTRY

