<!DOCTYPE html>

%html{ :lang => 'en' }
  %head
    =render 'layouts/head'
  %body.plain
    #page
      #header
        =link_to root_path do 
          = image_tag 'header_image.png', :alt => 'IN HOLY MATRIMONY'
      #navigation
        =render 'layouts/nav'
      =image_tag("hdiv.png", :class => "hdiv" )
      #content 
        = render :partial => 'layouts/flash', :locals => { :flash => flash }
        = yield
      
      =image_tag("hdiv.png", :class => "hdiv" )
      #footer
        %ul
          %li= 'Thanks to Grace for Graphic design'
          %li= 'Website created by Max Kuipers'

